.dumogu-dropdown-menu-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 999;
    &.dumogu-dropdown-menu-body_show {
        > .dumogu-dropdown-menu-body_container {
            transform: scale(1);
            opacity: 1;
        }
    }
}
.dumogu-dropdown-menu-body_container {
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition:
        transform 0.2s,
        opacity 0.2s;
    > * {
        pointer-events: initial;
    }
}
.dumogu-dropdown-menu-body_container_target {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
/** 默认的主题类名 */
.dumogu-dropdown-menu-theme {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0px 0;
    box-sizing: border-box;
    background-color: #1f1f23;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.4),
        0 0px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff1d;
    box-sizing: border-box;
    border-radius: 8px;
    > .dumogu-dropdown-menu-theme_item {
        min-width: 150px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 25px;
        box-sizing: border-box;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s;
        color: rgb(206, 206, 206);
        border-bottom: 1px solid #ffffff1d;
        border-left: none;
        border-right: none;
        line-height: 1;
        > * {
            margin-right: 15px;
        }
        &:hover {
            background-color: rgba(145, 145, 162, 0.17);
            color: #007fff;
        }
        &.dumogu-dropdown-menu-theme_active {
            background-color: rgba(145, 145, 162, 0.17);
            color: #007fff;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
